# Managed by ansible (setup.yml).
media_dir=A,{{ dlna_media_dir }}
friendly_name={{ dlna_friendly_name }}
port={{ dlna_port }}
db_dir=/var/cache/minidlna
log_dir=/var/log/minidlna
inotify=yes
album_art_names=Cover.jpg/cover.jpg/Folder.jpg/folder.jpg/AlbumArtSmall.jpg/albumart.jpg
root_container=B
